body { background: #f7f7f7; }
section.inner { height: 95vh; padding: 0 10%; margin-top: 150px; }
section h3 { width: 97%; padding: 20px; border: 1px solid #ddd; background: #fff; border-radius: 20px; font-family: pMedium; font-size: 20px; } 

form[name="writePost"] { height: 80vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
form[name="writePost"] textarea { padding: 25px 30px; width: 1000px; height: 500px; border: 1px solid #cecece; border-radius: 20px; font-size: 17px; font-family: pRegular; overflow: scroll; resize: none; } 
form[name="writePost"] input { width: 1000px; padding: 20px 10px; margin-bottom: 20px; border-bottom: 1px solid #ddd; font-size: 22px; font-family: pMedium; }

form[name="writePost"] button {  width: 100px; margin: 20px -30px 0 10px; padding: 10px 0; border-radius: 20px; background: #222; color: #fff; font-size: 15px; font-family: pMedium; letter-spacing: 2px; transition: all .3s; cursor: pointer; } 
